{% extends "entries/base.html" %}

{% block content %}

<!-- Blog Entries Column -->
<div class="col-md-8 mt-4">
  <div class="card mb-4 mt-4">
    <div class="card-header">
      Create An Account
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
